html {
    box-sizing: border-box;
    font-family: 'Times New Roman', sans-serif;
    min-height: 100%;
}

body {
    background: linear-gradient(to right, rgb(152, 234, 255), rgb(38, 42, 255));
    margin: 5% 5%;
    
    background-repeat: no-repeat; 
    
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 5fr 0.5fr;
    background-color: white;
    box-shadow: 0 5px 10px black;
    border-radius: 5px;
    height: 90vh;
}

/* header's elements */
.header {
    background-color: #222;
    display: grid;
    justify-items: center;
    height: 15vh;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.icon-container {
    position: relative;
    top: 9vh;
    display: grid;
    padding: 20px;
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#icon {
    justify-self: center;
    align-self: center;
}

.content {
    display: grid;

    margin-top: 50px;
    margin-right: 5%;
    margin-left: 5%;
}

.general-information {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    padding: 10px;
}

.status {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.location {
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
}

.detail-section {
    display: grid;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
}

.detail {
    display: grid;
    align-items: stretch;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
}

.title {
    font-size: 2rem;
    flex-grow: 1;
    font-weight: bold;
    color: #777;
}

.value {
    font-size: 2rem;
    margin-top: 20px;
}

.bordered {
    border-left: 1px solid #777;
    border-right: 1px solid #777;
}


/* Search box's styles */
.city-search-container {
    display: grid;
    margin: 5% 5%;
}

.city-search {
    font-size: 2rem;
    outline: none;
    border: 1px solid #777;
    border-radius: 5px;
    padding: 10px 15px;
}

/* Google APIs' styles */
.pac-item {
    font-size: 2rem;
    padding: 10px 10px;
}

.pac-icon {
    display: none;
}

.pac-item-query {
    font-size: 2rem;
    padding-right: 15px;
}

.pac-container {
    background-color: #fff;
    position: absolute!important;
    z-index: 1000;
    border-radius: 2px;
    border-top: 1px solid #d9d9d9;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    overflow: hidden; 
    margin-top: -330px;
}


/* footer */
.darksky-logo {
    text-align: center;
    align-self: flex-end;
    padding: 1rem;
    color: #777;
    font-size: 1rem;
}


/* Media Queries */
@media (max-width: 700px) {

    .icon-container {
        width: 60px;
        height: 60px;
    }
    
    #icon {
        width: 60px;
        height: 60px;
    }

    .bordered {
        border-left: 0px solid #777;
        border-right: 0px solid #777;
        border-top: 1px solid #777;
        border-bottom: 1px solid #777;
    }

    .general-information {
        margin-top: 0px;
        padding: 0px;
    }

    .status {
        font-size: 2.4rem;
    }
    
    .location {
        font-size: 1.6rem;
    }

    .value {
        margin-top: 0;
    }

    .detail-section {
        grid-template-columns: 1fr;
    }

    .title {
        font-size: 1.6rem;
    }

    .value {
        font-size: 1.6rem;
    }

    .city-search {
        font-size: 1.6rem;
    }

    /* Google APIs' styles */
    .pac-item {
        font-size: 1.6rem;
    }

    .pac-item-query {
        font-size: 1.6rem;
    }
    /* footer */
    .darksky-logo {
        padding: 0.3rem;
        font-size: 0.5rem;
    }
}

/* iPhone 5 */
@media (max-width: 400px) {
    .status {
        font-size: 1.92rem;
    }
    
    .location {
        font-size: 1.28rem;
    }

    .detail {
        padding: 0.4rem;
    }

    .title {
        font-size: 1.28rem;
    }

    .value {
        font-size: 1.28rem;
    }

    .city-search {
        font-size: 1.28rem;
    }

    /* Google APIs' styles */
    .pac-item {
        font-size: 1.28rem;
    }

    .pac-item-query {
        font-size: 1.28rem;
    }
    /* footer */
    .darksky-logo {
        padding: 0.3rem;
        font-size: 0.4rem;
    }
}
